{% extends "admin/base_site.html" %}
{% load static %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %} {% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
<div id="content-main">
{{data}}
    <script>console.log("ok")</script>
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">

</div>
{% endblock %}
