main{
  min-height: 80vh;
}

h3{
  padding:1rem 0;
}

.rating span{
  margin:0.1rem;
}

a {
  text-decoration: none;
}

.mh-95{
  min-height: 95%;
}

.ml-auto{
  margin-left: auto;
}

.custom-toggle{
  /*width: 100%;*/
}